@font-face {
    font-family: "CustomFont";
    src: url("../fonts/Outlined v001.otf");
}
body{
    text-align: right;
    direction: rtl;
    color: white;
   overflow-x: hidden;

}
.header{
    background-image: url("../images/header.png");
    height: 635px;
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 100%;
}

.navbar-nav{
    direction: rtl;
}
.nav-link {
    color: black;
}
.download{
    color: white;
    border-radius: 15px;
    font-size: 11px;

}
.btnContainer{
    top:60%;
    gap: 2%;
    margin-right: 5%;
}
.food{
    background-image: url("../images/1.jpg");
    background-size: contain;
    height: 300px;
    background-repeat: no-repeat;
}
.title{
    color: white;
    background-color: black;
}
.orderNow{
    color: white;
    font-size: 11px;
}
.offers{
background-image: url('../images/pizza.jpg');
height: 700px;
background-repeat: no-repeat;
background-size: 100%;
}
.todayOffer{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    color: white;
    position: relative;
    text-align: center;
    top: 16%;
    right: 45%;

}
@media(max-width:768px) {
    .header{
      height: 380px;
  
    }  
    .todayOffer{
        
        top: 5%;
        right: 30%;
    }
    .offers {
        height: 340px;}
  }